<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgbIH0yUTyKK0O32TnFqM7_8R4Olt92aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>955169095791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.integrasiFirebase</string>
	<key>PROJECT_ID</key>
	<string>sanberapp-94b24</string>
	<key>STORAGE_BUCKET</key>
	<string>sanberapp-94b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955169095791:ios:ea6cbe265781cfde750d9a</string>
</dict>
</plist>